body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #e0e0e0;
}

header {
    background-color: #504e50;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-between;
    border:3px inset #0f0a4e;
}

.li {
    display:inline-block;
    font-size:24px;
}
.logo-container {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;

}

.logo {

    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}


.container {
   display:flex;
   justify-content: center;
   align-items: center;

}
.about-me {
    max-width: 600px;
    padding: 20px;
    font-family: 'Trebutchet MS', sans-serif;
    background-color: #858285;
    color: #f4f4f4;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 10px;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

.project {
    flex: 1;
    min-width: 300px;
    margin: 3px;
    padding: 5px;
    border: 3px solid #555252;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4
    transition: transform 0.3s ease;
    text-align: center;
}

.project:hover {
    transform: translateY(-5px);
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project h2 {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    color: #333;
}

.project p {
    color: #000000;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .project {
        min-width: auto;
        width: 90%;
    }
}